

<div class=" col-12 btn btn-light">Show All Posts</div>
<div class="sortByCategory sidebarItem">
  <h3>Category</h3>
 
  <li class="row" *ngFor="let tag of uniqueTagArr">
   
    <app-tag class="col-6 btn btn-light" [linkDest]="linkDest"[tagName]="tag" [makeActive]="true" [type]="'category'"></app-tag>
    <div class="col-2">
       {{counterArr[tag]}}
    </div>
   
   
  </li>

</div>

<div class="sortByAuthor sidebarItem">
    <h3>Author</h3>
    <li class="row" *ngFor="let author of authors">
      <app-tag class="col-6 btn btn-light"  [tagName]="author" [makeActive]="true" [type]="'author'"></app-tag>
     <div class="col-2">
      {{authorCounter[author]}}
     </div>
    
    </li>

</div>
