

<div class=" col-12 btn btn-light" [routerLink]="linkDest">Show All Posts</div>
<div class="sortByCategory sidebarItem">
  <h3>Category</h3>
 
  <li   class="row col-12 btn btn-light " *ngFor="let tag of uniqueTagArr">
   
    <app-tag class="" [linkDest]="linkDest"[tagName]="tag" [makeActive]="true" [type]="'category'">
      
    </app-tag>
  <span class="counter float-right">
       {{counterArr[tag]}}
  </span>
   
   
  </li>

</div>

<div class="sortByAuthor sidebarItem">
    <h3>Author</h3>
    <li class="row col-12 btn btn-light" *ngFor="let author of authors">
      <app-tag   [tagName]="author" [makeActive]="true" [type]="'author'"></app-tag>
     <span class="counter float-right">
      {{authorCounter[author]}}
     </span>
    
    </li>

</div>
