

<h2 [routerLink]="linkDest" >    See All Posts </h2>
<div class="sortByCategory sidebarItem">
  <h3>Category</h3>
 
  <li *ngFor="let tag of uniqueTagArr">
   
    <app-tag  [linkDest]="linkDest"[tagName]="tag" [makeActive]="true" [type]="'category'"></app-tag>
    {{counterArr[tag]}}
   
  </li>

</div>

<div class="sortByAuthor sidebarItem">
    <h3>Author</h3>
    <li *ngFor="let author of authors">
      <app-tag  [tagName]="author" [makeActive]="true" [type]="'author'"></app-tag>
      {{authorCounter[author]}}
    </li>

</div>
